@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

/* Global Styles & Resets */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

@font-face {
  font-family: "themify";
  src: url("../assets/fonts/themify.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h3,
h4,
p {
  margin: 0;
}

body {
  margin: 0;
  background-color: #0b0016;
  overflow-x: hidden;
}

/* Header Styles */
header {
  font-family: "Questrial", sans-serif;
  z-index: 3;
  position: relative;
  top: 0;
  width: 100%;
}

.header_head {
  padding: 35px 10px 0px 10px;
}

.header_bottom {
  text-align: center;
}

.header_main {
  padding-right: var(--bs-gutter-x, 15.5%);
  padding-left: var(--bs-gutter-x, 15.5%);
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  position: absolute;
  left: 5%;
}
.header_main > div {
  height: 48px;
}

.header_main .navegacoes {
  text-align: right;
  width: 113%;
}

.header_main .navegacoes .contato {
  margin-right: 26px;
  padding: 5px 0;
  text-decoration: none;
  color: #fff;
  vertical-align: middle;
  line-height: 48px;
}

.header_main .navegacoes .botao {
  padding: 14px 24px;
  margin-right: 30px;
  border: 1px solid #d6a04c;
  background-color: #d6a04c;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
  line-height: 48px;
}

.header_main .navegacoes .botao:hover {
  background-color: transparent;
  color: #d6a04c;
}

.botaoMenu {
  margin-top: 5px;
  position: absolute;
  width: min-content;
  padding: 5px 7.5px;
  display: inline-block;
}

.botaoMenu .linha {
  width: 34px;
  height: 2px;
  background-color: #fff;
  margin: 7.5px 0;
}

.botaoAbrirMenu {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 99;
  opacity: 50%;
  right: 1dvw;
}

.botaoAbrirMenu:checked ~ nav {
  transform: translateX(0%);
}

.botaoAbrirMenu:checked {
  right: -45%;
}

nav {
  height: 100%;
  width: 335px;
  background-color: #111111;
  position: fixed;
  overflow: auto;
  transition: all 0.6s ease-out 0s;
  padding: 140px 50px 10px 59px;
  right: 0;
  z-index: 88;
  top: 0;
  transform: translateX(100%);
}

.fecharMenuIcone {
  position: absolute;
  top: 50px;
  right: 290px;
}

.fecharMenuIcone i {
  color: #fff;
  font-size: 25px;
  transform: rotateZ(45deg);
}

nav ul {
  color: #fff;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  margin: 28px 0;
}

nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav li i {
  font-size: 18px;
}

nav .sociais {
  color: #fff;
}

nav .sociais a i {
  color: #fff;
}

/* Main Content Styles */
main {
  transform: translateY(-100px);
  width: 100dvw;
}

/* Main Banner Section */
.fundoInicial {
  height: 450px;
  width: 100%;
  position: absolute;
  z-index: -2;
  object-fit: cover;
  /* filter: brightness(50%); */
}

.containerPrincipal {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 150px;
  /* text-align: center; */
  padding-left: 190px;
  /* background-color: #0a0a0a; */
}

.containerPrincipal::before {
  position: absolute;
  content: "";
  background-color: rgba(17, 17, 17, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

main .titulo {
  color: #e9e3d9;
  max-width: 540px;
  display: inline-block;
  text-align: left;
  font-family: "Cabin", sans-serif;
}

main .titulo2 {
  font-size: 16px;
  font-family: "Questrial", sans-serif;
}

main .titulo2 ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

main .titulo2 ol li {
  display: inline-block;
}

main .titulo2 ol li a {
  display: inline-block;
  color: #e9e3d9;
  text-decoration: none;
}

main .titulo2 ol li:last-child {
  padding-left: 0.5rem;
}

main .titulo2 ol li:last-child::before {
  float: left;
  padding-right: 0.5rem;
  color: #e9e3d9;
  content: var(--bs-breadcrumb-divider, "/");
}

.espaco {
  height: 10px;
}

main .titulo1 {
  font-size: 60px;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

/* What We Do Section */

.whatWeDo {
  padding-right: var(--bs-gutter-x, 3.75rem);
  padding-left: var(--bs-gutter-x, 3.75rem);
  padding-top: 100px;
  margin-bottom: 90px;
}

.whatWeDoTitulo h2 {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 50px;
  display: block;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 60px;
  margin-right: 10%;
}

.whatWeDo .imagens .imagemCard {
  display: inline-block;
  width: 30%;
  color: #e9e3d9;
  transition: all 0.3s ease-out 0s;
  font-family: "Cabin", sans-serif;
  margin: 0 10px;
}

.whatWeDo .imagens .imagemCard .imagemBody {
  width: 100%;
  position: relative; /* Torna este o bloco de contenção para .imageHover */
  margin-bottom: 25px;
}

.whatWeDo .imagens .imagemCard img {
  width: 100%;
}

.whatWeDo .imagens .imagemCard:hover {
  transform: translateY(20px);
  color: #d6a04c;
}

.whatWeDo .imagens .imagemCard .imageHover {
  background-color: rgba(84, 84, 84, 0.6);
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
}

.whatWeDo .imagens .imagemCard:hover .imageHover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.whatWeDo .imagens .imagemCard .imageHover .botaoImagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px 18px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.whatWeDo .imagens .imagemCard h1 {
  margin-bottom: 12px;
}

.whatWeDo .imagens .imagemCard h1 a {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-out 0s;
}

.whatWeDo .imagens .imagemCard:hover h1 a {
  color: #d6a04c;
}

.whatWeDo .imagens .imagemCard p {
  color: #e9e3d9;
}

/* Footer Styles */
footer {
  background-color: #1e1e1e;
  width: 100%;
  padding: 120px 5% 0 5%;
}

footer .content {
  font-size: 0; /* Colapsa o espaço em branco entre os filhos inline-block */
}

footer .content div {
  display: inline-block;
  padding: 0 12px;
  width: 15%;
  vertical-align: top; /* Garante alinhamento vertical consistente para todas as colunas */
  font-size: 16px; /* Restaura o tamanho da fonte para o conteúdo dentro destas divs. Ajuste se uma base diferente for necessária. */
}
footer .content .imagem {
  vertical-align: top;
}

footer .content .links {
  margin: 0 0 30px 0;
}

footer .content .links h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Cabin", sans-serif;
  margin-top: 0px;
}

footer .content .links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .content .links ul li {
  margin-bottom: 15px;
}

footer .content .links ul li:hover a {
  text-decoration: underline;
}

footer .content .links ul li a {
  text-decoration: none;
  color: #e9e3d9;
  font-weight: 400;
  font-size: 16px;
  font-family: "Questrial", sans-serif;
  transition: all 0.3s ease-out 0s;
  text-decoration: underline transparent;
}

footer .content .services {
  vertical-align: top;
}

footer .content .services h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Cabin", sans-serif;
  margin-top: 0px;
}

footer .content .services ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .content .services ul li {
  margin-bottom: 15px;
}

footer .content .services ul li:hover a {
  text-decoration: underline;
}

footer .content .services ul li a {
  text-decoration: none;
  color: #e9e3d9;
  font-weight: 400;
  font-size: 16px;
  font-family: "Questrial", sans-serif;
  transition: all 0.3s ease-out 0s;
  text-decoration: underline transparent;
}

footer .content .newsletter {
  width: 39%; /* Calculado para ocupar o espaço restante: 100% - (3 * 15%) = 55% */
  margin-left: 16%;
}

footer .content .newsletter h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Cabin", sans-serif;
  margin-top: 0px;
}

footer .content .newsletter p {
  color: #a4a6ae;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "Questrial", sans-serif;
}

footer .content .newsletter form {
  margin-bottom: 20px;
}

footer .content .newsletter input {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  border: 0;
  border-radius: 6px;
  color: #5c6168;
  background-color: #fff;
}

footer .content .newsletter input::placeholder {
  font-size: 18px;
}

footer .content .newsletter button {
  position: absolute;
  border: 0;
  height: 60px;
  width: 80px;
  transform: translateX(-79.3px);
  cursor: pointer;
  padding: 21px 30px;
  line-height: 1;
  border-radius: 0 3px 3px 0;
  background: #d6a04c;
}

footer .content .newsletter .sociais {
  width: max-content;
}

footer .content .newsletter .sociais a {
  display: inline-block;
  transform: rotateY(0deg);
  margin-right: 24px;
}

footer .content .newsletter .sociais a i {
  transition: all 0.4s ease-out 0s;
  font-size: 20px;
  color: #fff;
}

footer .content .newsletter .sociais a:hover {
  transition: all 0.4s ease-out 0s;
  transform: rotateY(180deg);
}

footer .content .newsletter .sociais a:hover i {
  color: #d6a04c;
}

footer .footerBottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 40px;
}

footer .footerBottom p {
  color: #a4a6ae;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  font-family: "Questrial", sans-serif;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 15px;
}

footer .footerBottom p i {
  color: #d6a04c;
}

footer .footerBottom p a {
  color: #d6a04c;
  text-decoration: none;
}

/* Themify Icon Styles */
.ti-control-play:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e6ad";
  font-size: 29px;
}

.ti-mouse:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e68a";
  color: #d6a04c;
  font-size: 37px;
}

.ti-arrow-right:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e628";
  color: #2a2a2a; /* Default color, can be overridden */
  font-size: 16px;
}

.ti-angle-left:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e64a";
  font-size: 30px;
  color: #c6a16e;
}

.ti-angle-right:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e649";
  font-size: 30px;
  color: #c6a16e;
}
